.jumbotron {
  font-family: 'Poppins', sans-serif;
}
.jumbotron h1 {
  float: right;
  margin-right: 5%;
  margin-top: 50%;
}
.jumbotron h2{
  float: right; 
  width: 35%;
  margin-left: 70%;
}
.jumbotron img {
  margin-left: 10%;
}
.intro {
  float: right;
}