.intro {
  float: right;
  margin-right: 7%;
  margin-top: 30%;
  padding: 8px;
  background-color: #F8FAF9;
  height: 720px;
  border-top: 6px solid #1F2F43;
  border-left: 10px solid #DD3F4D;
  border-right: 10px solid #DD3F4D;
}
.intro h2 {
  color: #7098B0;
}
.intro h1 {
  color: #54C99B;
}
.city {
  margin-left: 10%;
}
#background {
  text-align: center;
  margin: 5px;
  padding: 18px;
  border: 5px solid #A53860;
  color: #7098B0;
}
#background h2 {
  text-decoration: underline solid #7098B0;
}
body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
#doodle {
  width: 380px;
}
#music ul {
  list-style-type: none;
}
#music {
  color: #7098B0
}
#music h3 {
  text-decoration: underline solid #54C99B;
  color: #54C99B;
}
#other {
  color: #7098B0 ;
}
#other h3 {
  text-decoration: underline solid #54C99B;
  color: #54C99B;
}
.more {
  color: #54C99B
}